body{
    background-color:azure;
}
.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    background-color: lightgreen;
    text-transform: uppercase;
    font-weight: bold;
}
path:hover{
    fill: greenyellow;
    stroke: darkgreen;
    stroke-width: 5;
}

form{
    background-color: lightgreen;
    border: 1px solid #ccc; /* Adiciona uma borda, opcional */
    border-radius: 10px; /* Ajuste o valor conforme desejado */
    padding: 20px; /* Opcional: adiciona espaço interno */
}