body{
    background-color: rgb(49, 53, 65);
    color: #d9ff00;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
path:hover{
    fill: lightslategrey;
    stroke: slategray;
    stroke-width: 5;
}
.footer-carousel {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.418);
    color: #d9ff00;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}

.carousel-item{
    margin: 0;
    font-size: 1.2em;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    
    border-radius: 50%;
    padding: 10px;
}
.container-fluid{
    background-color: rgba(0, 0, 0, 0.418);
}

.container {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.418);
    color: #d9ff00;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}